@import './variables.scss';
@import './global.scss';
@import 'bootstrap/scss/bootstrap';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    // color: rgba(255, 255, 255, 0.87);
    // background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

// #root {
//     max-width: 1280px;
//     margin: 0 auto;
//     padding: 2rem;
// }

body {
    margin: 0;
    // color: var(--color-text);
    // background: var(--color-background);
    line-height: 1.6;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$body-scrollbar-padding: 17px;
$full-screen-width: calc(100vw - $body-scrollbar-padding);

$top-bar-height: 56px;
$left-bar-min-width: 240px;
$content-min-width: 768px;
$content-max-width: 1280px;

// The screen is as wide as we want - the content has fixed size, the left and righ bar fill rest.

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: $top-bar-height;
    width: 100%;
    z-index: 100;
}

#top-bar-left, #top-bar-right {
    width: calc((100vw - $content-max-width - $body-scrollbar-padding) / 2);
}

#left-bar {
    position: fixed;
    top: $top-bar-height;
    bottom: 0px;
    overflow: hidden;
    background-color: $body-bg-dark;
    width: calc((100vw - $content-max-width - $body-scrollbar-padding) / 2);
    z-index: 50;

    &.collapsed {
        display: none;
    }
}

#content {
    // margin: 0 auto;
    margin-top: $top-bar-height;
    height: calc(100vh - #{$top-bar-height});
    @extend .scrollbar-fix;
}

#content-inner {
    margin: 0 auto;
    width: 100%;
    max-width: $content-max-width;
}

// The screen is somewhat small - we use full width, the left bar has fixed size.

@media (max-width: calc($body-scrollbar-padding + $content-max-width + 2 * $left-bar-min-width)) {
    #left-bar {
        width: $left-bar-min-width;
    }

    #top-bar-left, #top-bar-right {
        width: $left-bar-min-width;
    }

    #content-inner {
        width: calc($full-screen-width - 2 * $left-bar-min-width);
    }
}

// The screen is smaller - the right bar disappears.

@media (max-width: calc($body-scrollbar-padding + $content-min-width + $left-bar-min-width)) {
    #content-inner {
        width: calc($full-screen-width - $left-bar-min-width);
        margin: 0 0 0 auto;

        #left-bar.collapsed + #content > &  {
            width: $full-screen-width;
            margin: 0;
        }
    }
}

// The screen is the smallest - the left bar collapses.

@media (max-width: calc($body-scrollbar-padding + $content-min-width)) {
    // BREAKPOINT_COLLAPSE = 16 + 768 + 240 = 924

    #content-inner {
        width: 100%;
        margin: 0;
    }
}

.fd-button-icon {
    @extend .clickable;

    &:hover {
        color: $primary;
    }

    &:active {
        color: shade-color($primary, $btn-hover-bg-shade-amount)
    }
}

.fd-collapse-button {
    position: fixed;
    z-index: 300;
    top: 0;
    @extend .p-2;
    @extend .fd-button-icon;
}

.fd-home-button {
    margin-top: 12px;
    height: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 48px;
}
