@import './base.scss';

// Table

.fd-negative-example-row {
    & td {
        @extend .py-2;
        color: $primary !important;
    }
}

// Graph

.react-flow__attribution {
    //display: none;
    background: rgba(white, 0.06);
    & a {
        color: $primary !important;
    }
}

.react-flow__handle.target {
    visibility: hidden;
}

// Decisions

.fd-column {
    padding: 0 !important;

    &.negative {
        .fd-column-value {
            @extend .text-danger;
        }
    }

    &.positive {
        .fd-column-value {
            @extend .text-success;
        }
    }
}

.fd-column-inner {
    height: 100%;
    min-width: 140px;
    @extend .px-2;

    &.evaluated {
        @extend .py-2;
        @extend .clickable;
        @extend .rounded;

        &:hover {
            background-color: $highlight-bg-color-dark;
        }

        .selected &, &:active {
            background-color: $highlight-bg-color-accent-dark;
        }
    }
}

.fd-edit-reason-row {
    min-height: 38px;
    display: flex;
    align-items: center;
}

.fd-column-reasons {
    display: inline-block;
    min-width: 140px;
}
