@import 'bootstrap/scss/functions';

$enable-negative-margins: true;

//$secondary: #646cff;
//$secondary-accent: #535bf2;

//$body-color: rgba(255, 255, 255, 0.87);
//$body-bg: #242424;

// TODO - light
// $body-color: #213547;
// $body-bg: #ffffff

$primary: #646cff;
$primary-accent: #535bf2;

$highlight-bg-color: tint-color($primary, 80%);
$highlight-bg-color-accent: tint-color($primary, 60%);


@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

$highlight-bg-color-dark: mix($body-bg-dark, $primary, 90%);
$highlight-bg-color-accent-dark: mix($body-bg-dark, $primary, 80%);
